#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALPHA   0
#define NUM     1
#define ARROW   2
#define GAMING  3 
#define GAMING2 4
#define SYSTEM  5 

&mt {
    flavor = "balanced";//tap-preferred";
    quick-tap-ms = <200>;
};

&lt {
    quick-tap-ms = <200>;
};

/ {
    behaviors {
        td_shift_d: tap_dance_shift_d {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp D>, <&sk LSHIFT>;
        };
        htd_kp_shift_d: hold_td_kp_shift_d {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&td_shift_d>;
        };
        td_shift_k: tap_dance_shift_k {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp K>, <&sk LSHIFT>;
        };
        htd_kp_shift_k: hold_td_kp_shift_k {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&td_shift_k>;
        };
        td_caps_g: tap_dance_caps_g {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp G>, <&kp CAPS>;
        };
        td_caps_h: tap_dance_caps_h {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp H>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
        bindings = <

        &mt LALT Q     &kp W          &kp E                      &kp R       &kp T          &kp Y       &kp U       &kp I                        &kp O         &kp P
        &mt LGUI A     &mt LALT S     &htd_kp_shift_d LSHIFT 0   &mt LCTRL F &td_caps_g     &td_caps_h  &mt LCTRL J &htd_kp_shift_k LSHIFT 0     &mt LALT L    &mt LGUI SINGLE_QUOTE 
        &mt LCTRL Z    &kp X          &kp C                      &kp V       &kp B          &kp N       &kp M       &kp COMMA                    &kp DOT       &kp SLASH

                                                    &lt ARROW SPACE  &lt NUM BKSP           &kp SPACE  &kp LGUI

        >;
        };

        num_and_signs {
        bindings = <

        &kp N1    &kp N2        &kp N3    &kp N4         &kp N5               &kp N6     &kp N7         &kp N8         &kp N9     &kp N0
        &trans    &kp LC(LEFT)  &kp UP    &kp LC(RIGHT)  &kp ESC              &kp MINUS  &kp EQUAL      &kp LBKT       &kp RBKT   &tog GAMING
        &trans    &kp LEFT      &kp DOWN  &kp RIGHT      &kp TAB              &kp GRAVE  &kp SEMICOLON  &kp BACKSLASH  &kp SLASH  &kp ENTER

                                              &kp LC(UP)  &kp BKSP              &kp DEL  &none
        >;
        };

        arrow_and_signs {
        bindings = <
// add lang change
        &kp ESC  &none      &mo SYSTEM  &kp LG(R)  &none             &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &none  &none
        &trans   &kp LG(Z)  &kp LG(C)   &kp LG(V)  &kp LG(S)         &none         &none         &none       &none  &none  
        &none    &none      &kp LG(X)   &kp LG(F)  &kp LG(A)         &none         &none         &none       &none  &none

                                              &none  &trans         &trans      &mo SYSTEM
        >;
        };

        gaming {
        bindings = <

        &kp TAB     &kp N1  &kp N2  &kp R  &kp N3     &kp ESC  &kp N    &kp T  &kp Y  &tog GAMING 
        &kp LCTRL   &kp Q   &kp W   &kp E  &kp F      &kp H    &kp J    &kp K  &kp L  &kp B  
        &kp LSHIFT  &kp A   &kp S   &kp D  &kp G      &kp Z    &kp X    &kp C  &kp V  &kp M  
// add spam button if possible
// add mmo and fKeys layer
                            &kp LCTRL  &kp SPACE      &lt GAMING2 TAB  &kp LALT
        >;
        };

        gaming2 {
        bindings = <

        &kp F1     &kp F2  &kp F3  &kp F4  &kp F5     &kp F6  &kp F7    &kp F8  &kp F9  &kp F10 
        &kp LCTRL   &kp Q   &kp W   &kp E  &kp F      &kp H    &kp J    &kp K  &kp L  &kp B  
        &kp LSHIFT  &kp A   &kp S   &kp D  &kp G      &kp Z    &kp X    &kp C  &kp V  &kp M  
// add spam button if possible
// add mmo and fKeys layer
                            &kp LCTRL  &kp SPACE      &none  &kp LALT
        >;
        };//

        system {
        bindings = <

        &sys_reset   &none  &none  &none      &bt BT_SEL 0    &bt BT_SEL 3  &none  &none  &none  &sys_reset
        &bootloader  &none  &none  &none      &bt BT_SEL 1    &bt BT_SEL 4  &none  &none  &none  &bootloader
        &none        &none  &none  &bt BT_CLR &bt BT_SEL 2    &none         &none  &none  &none  &none

                                              &none  &none    &none  &none
        >;
        };
    };
};
